<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-tittle">{{graficos.grafico1.leyenda}}</h4>
        <div>
          <div>
            <app-graficas-dona
            ChartType="doughnut"
            [ChartData]="graficos.grafico1.data"
            [ChartLabels]="graficos.grafico1.labels"
          ></app-graficas-dona>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-tittle">{{graficos.grafico2.leyenda}}</h4>
        <div>
          <div>
            <app-graficas-dona
            ChartType="doughnut"
            [ChartData]="graficos.grafico2.data"
            [ChartLabels]="graficos.grafico2.labels"
          ></app-graficas-dona>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-tittle">{{graficos.grafico3.leyenda}}</h4>
        <div>
          <div>
            <app-graficas-dona
              ChartType="doughnut"
              [ChartData]="graficos.grafico3.data"
              [ChartLabels]="graficos.grafico3.labels"
            ></app-graficas-dona>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-tittle">{{graficos.grafico4.leyenda}}</h4>
        <div>
          <div>
            <app-graficas-dona
            ChartType="doughnut"
            [ChartData]="graficos.grafico4.data"
            [ChartLabels]="graficos.grafico4.labels"
          ></app-graficas-dona>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
